@charset "utf-8";
/* CSS Document */

input[id*="answer"] {display: none;}

input[id*="answer"] + label {display: block;
                             padding: 20px;
                             border:  1px solid #5E5E5E;
	                         border-bottom: 0;
                             border-left: 0;
                             border-right: 0;
                             font-family: "AppleSDGothicNeoSB00";
                             cursor: pointer;
                             position: relative;}


input[id*="answer"] + label em {position: absolute;
                                top: 50%;
                                right: 10px;
                                width: 30px;
                                height: 30px;
                                margin-top: -15px;
                                display: inline-block;
                                background: url(add.png)no-repeat;}

input[id*="answer"] + label + div {max-height: 0;
                                   transition: all .35s;
                                   overflow: hidden;
                                   font-size: 11px;}

input[id*="answer"] + label + div p {display: inline-block;
                                     padding: 20px;}

input[id*="answer"]:checked + label + div {max-height: 100px;}

input[id*="answer"]:checked + label em {background-position: 0 -30px;}

div {font-family: "AppleSDGothicNeoSB00";}

img {margin-left: 800px;
     margin-top: 150px;
     margin-bottom: 150px;}

